In [91]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn import tree
from sklearn import linear_model
from sklearn import ensemble
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn import neighbors

In [2]:
csData = pd.read_csv("../dataset/customer.csv")

In [3]:
csData.head(1)

      deposit     stock   label
0  1400000000  45000000  normal

In [79]:
### feature, label컬럼 설정
featuresCol = ['deposit','stock']
labelCol = ['label']
### feature데이터 , label 데이터 분리
featuresData = csData[featuresCol]
labelData = csData[labelCol]
### train_test_split 함수를 활용해 feature / label 데이터 자동 분리 7:3
trainingData_feature, testData_feature, trainingData_label, testData_label = train_test_split(featuresData, labelData, test_size = 0.3, random_state=2)

In [67]:
trainingData_label.head(10)

         label
9195       vip
18013      vip
3021   diamond
10499  diamond
5703   diamond
9773    normal
19992  diamond
14809      vip
15978   normal
17277  diamond

In [94]:
le_pro = LabelEncoder()
trainingData_label["ENCO_LABEL"] = le_pro.fit_transform(trainingData_label.label)

trainingData_label

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         label  ENCO_LABEL
9195       vip           2
18013      vip           2
3021   diamond           0
10499  diamond           0
5703   diamond           0
9773    normal           1
19992  diamond           0
14809      vip           2
15978   normal           1
17277  diamond           0
16994  diamond           0
9809   diamond           0
15594      vip           2
324    diamond           0
3341   diamond           0
290     normal           1
6014   diamond           0
8120   diamond           0
8826   diamond           0
6236   diamond           0
3520   diamond           0
11411   normal           1
19823  diamond           0
15995  diamond           0
3559   diamond           0
10569  diamond           0
7696    normal           1
17348  diamond           0
6234       vip           2
10457  diamond           0
...        ...         ...
12420  diamond           0
19694   normal           1
17972  diamond           0
3664   diamond           0
10690      vip           2
16415  diamond           0
17759  diamond           0
7622    normal           1
9541   diamond           0
16639  diamond           0
15905  diamond           0
8170    normal           1
14695      vip           2
13414  diamond           0
19111  diamond           0
8316   diamond           0
6548   diamond           0
19162  diamond           0
11071  diamond           0
5167   diamond           0
2773   diamond           0
10827  diamond           0
433    diamond           0
11527  diamond           0
14696   normal           1
1099       vip           2
18898   normal           1
11798   normal           1
6637    normal           1
2575   diamond           0

[14000 rows x 2 columns]

In [68]:

# trainingData_label["label"] = np.where(trainingData_label.label == "vip",3,2)
trainingData_label["label"] = np.where(trainingData_label.label == "vip",3,np.where(trainingData_label.label == "diamond",2,1))
testData_label["label"] = np.where(testData_label.label == "vip",3,np.where(testData_label.label == "diamond",2,1))

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [95]:
trainingData_label[trainingData_label.label==1].head(1)

Empty DataFrame
Columns: [label, ENCO_LABEL]
Index: []

In [82]:
model_method = svm.SVC(random_state=1)
model_method_dt = tree.DecisionTreeClassifier(random_state =1)    #DecisionTreeRegressor(random_state =1)
model_method_kn = neighbors.KNeighborsClassifier(n_neighbors=10)
model_method_rf = ensemble.RandomForestClassifier(random_state =1, n_estimators= 10)

In [83]:
model = model_method.fit(trainingData_feature,trainingData_label)
model_dt =model_method_dt.fit (trainingData_feature ,trainingData_label)
model_kn =model_method_kn.fit (trainingData_feature ,trainingData_label)
model_rf =model_method_rf.fit (trainingData_feature ,trainingData_label)

C:\Users\User\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\User\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [84]:
predictValue = model.predict(testData_feature)
predict_dt = model_dt.predict(testData_feature)
predict_kn = model_kn.predict(testData_feature)
predict_rf = model_rf.predict(testData_feature)

In [87]:
predictDf = pd.DataFrame(predictValue, columns=["predict_svc"])
predictDf_dt = pd.DataFrame(predict_dt, columns=["predict_dt"])
predictDf_kn = pd.DataFrame(predict_kn, columns=["predict_kn"])
predictDf_rf = pd.DataFrame(predict_rf, columns=["predict_rf"])

In [24]:
testData_freatures2 = testData_feature.reset_index(drop=True)
testData_label2 = testData_label.reset_index(drop=True)

In [88]:
finalData = pd.concat([testData_freatures2,testData_label2,predictDf,predictDf_dt,predictDf_kn,predictDf_rf],axis=1)
finalData.head(1)

      deposit     stock   label predict_svc predict_dt predict_kn predict_rf
0  1420000000  46000000  normal      normal     normal     normal     normal

In [90]:
#결과 테스트하기
ac_score_svc = accuracy_score(finalData.label, finalData.predict_svc)
ac_score_dt = accuracy_score(finalData.label, finalData.predict_dt)
ac_score_kn = accuracy_score(finalData.label, finalData.predict_kn)
ac_score_rf = accuracy_score(finalData.label, finalData.predict_rf)
cl_report = classification_report(label_test, predictValue)
##결과 리포트하기
print("Accuracy svc =", ac_score_svc)
print("Accuracy dt=", ac_score_dt)
print("Accuracy kn=", ac_score_kn)
print("Accuracy rf=", ac_score_rf)
print("result =n", cl_report)

Accuracy svc = 0.9901666666666666
Accuracy dt= 0.9996666666666667
Accuracy kn= 0.9906666666666667
Accuracy rf= 1.0
result =n               precision    recall  f1-score   support

     diamond       0.98      1.00      0.99      3504
      normal       1.00      0.98      0.99      1762
         vip       1.00      0.97      0.99       734

    accuracy                           0.99      6000
   macro avg       0.99      0.98      0.99      6000
weighted avg       0.99      0.99      0.99      6000

In [35]:
finalData.to_csv("D:/class_result.csv")